.mindmeld__footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: var(--color-footer);
}

.mindmeld__footer-links {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
    text-align: left;
}

.mindmeld__footer-links div {
    width: 250px;
    margin: 1rem;
}

.mindmeld__footer-links_logo {
    display: flex;
    flex-direction: column;
}

.mindmeld__footer-links_logo h2 {
    font-size: 30px;
    color: #fff;
    font-family: var(--font-family);
}

.mindmeld__footer-links_logo p {
    font-family: var(--font-family);
    font-size: 14px;
    color: #fff;
    margin-top: 4px;
}

.mindmeld__footer-links_div {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}

.mindmeld__footer-links_div h4 {
    font-size: 16px;
    line-height: 17px;
    font-family: var(--font-family);
    color: #fff;

    margin-bottom: 0.9rem;
}

.mindmeld__footer-links_div p {
    font-size: 14px;
    line-height: 15px;
    font-family: var(--font-family);
    color: #fff;

    margin: 0.5rem 0;
    cursor: pointer;
}

.mindmeld__footer-copyright {
    margin-top: 2rem;
    text-align: center;
    width: 100%;
}

.mindmeld__footer-copyright p {
    font-size: 14px;
    font-family: var(--font-family);
    line-height: 15px;
    color: #fff;
}

@media screen and (max-width: 550px) {
    .mindmeld__footer-links div {
        margin: 1rem 0;
    }
}
